<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yocy.oj.ums.mapper.UmsAddressMapper">

    <resultMap id="BaseResultMap" type="com.yocy.oj.ums.model.entity.UmsAddress">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="consigneeName" column="consignee_name" jdbcType="VARCHAR"/>
            <result property="consigneePhone" column="consignee_phone" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="area" column="area" jdbcType="VARCHAR"/>
            <result property="detailAddress" column="detail_address" jdbcType="VARCHAR"/>
            <result property="zipCode" column="zip_code" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,member_id,consignee_name,
        consignee_phone,province,city,
        area,detail_address,zip_code,
        create_time,update_time
    </sql>
</mapper>
